h1 {
  color: #ffffff;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 60px;
  background: #000000 ;
}

h2 {
  color: #ffffff;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 50px;
  background: #000000;
}

h3 {
  color: #ffffff;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 50px;
  background: #000000;
}
h4 {
  color: #ffffff;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 50px;
  background: #000000;
}

p {
    color: #ffffff;
    font-family: "Garamond", serif;
    font-size: 30px;
    margin: 30px;
    background: #000000;
}

body {
  text-align: center;
  background: #000000;

}
